html{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3e2e2;
    margin: 0;
    overflow-x: hidden;

}

.container {
    margin: 0 auto;
    padding: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3e2e2;
  border-bottom: 1px solid #eee;
  padding: 0 20px;
  height: 80px;
}

.header-inner {
  display: flex;
  align-items: center;
  height: 70px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #f3e2e2;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7A0000; /* hilangin background putihnya */
  border-radius: 100px;
  padding: 0;
  padding-right: 50px;
  position: relative; /* bukan fixed atau absolute */
  box-shadow: none; /* gak perlu bayangan di sini */
  left: 70px;
}

.navigation ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -20px;

}
.nav a {
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

.navigation ul li {
  position: relative;
  cursor: pointer;
  list-style: none;
  width: 140px;
  height: 40px;
  z-index: 1;
  margin-right: -2px;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  transform: translate(-50%, -40%); /* bikin ikon tepat di tengah indikator */
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5rem;
  text-align: center;
   /* default posisi */
  transition: 0.5s;
  color: var(--clr);
  opacity: 0;                 /* awalnya transparan */
  transition: opacity 0.5s ease 0.2s, transform 0.5s ease 0.2s;
}

.navigation ul li.active a .icon {
  display: block;
  z-index: 2;
  transform: translate(-20%, 10%); /* naik dikit saat active */
  opacity: 1;
   z-index: 2;
   position: relative;
}
.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
  display: block;
}
.navigation ul li .placeholder {
  position: relative;
  width: fit-content;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: var(--clr);
  font-weight: 500;
  pointer-events: none; /* supaya klik tetap ke li */
  transition: opacity 0.3s;
  opacity: 1;
  z-index: 1;
}
.navigation ul li.active .placeholder {
  opacity: 0;
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -65%;
  background: #7A0000;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
  z-index: 0;   
}
.indicator::before {
  content: "";
  position: absolute;
  top: 40%;
  width: 20px;
  left: -22px;
  height: 28px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
  content: "";
  position: absolute;
  top: 40%;
  width: 20px;
  right: -22px;
  height: 28px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
  z-index: 1;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  left: 40px;
}
.navigation ul li:nth-child(2).active ~ .indicator {
  left: 140px; /* 100px width + 40px gap */
}
.navigation ul li:nth-child(3).active ~ .indicator {
  left: 280px;
}
.navigation ul li:nth-child(4).active ~ .indicator {
  left: 420px;
}
.navigation ul li:nth-child(5).active ~ .indicator {
  left: 560px;
}

.logo img {
  height: 120px;
  object-fit: contain;
}

.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 max-width: 150px;
 margin-left: 10;
}

.input {
 width: 100%;
 height: 30px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(82, 55, 65, 0.4);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}
.akun {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-left: auto; /* otomatis push ke kanan */
}

.akun img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-daharin{
  position: relative;
    background-color: #9e9ea7;
    text-align: center;

    height: 400;
    border-radius: 20px;
}

.rectangle-daharin img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: brightness(50%);
  border-radius: 20px;
}


.category-section{
    margin:0;
    
}
.rectangle-daharin .group {
  z-index: 99;
  position: absolute;
  top: 30px; /* atur jarak dari atas */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  width: 80%;
  max-width: 600px;

}

.teks-content1{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
}

.category-circles {
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap; /*elemen turun ke bawah jika ruang horizontal sudah habis*/
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;             /* bikin gambar ga keluar lingkaran */
  border: 5px solid #7A0000;    /* opsional: bingkai */
  display: flex;    /*diatur berjajar*/
  aspect-ratio: 1/1;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  min-width: 120px;
  position: relative;
}


.circle img {
  width: 110%;                  /* zoom biar makanan pas */
  height: 110%;
  object-fit: cover;            /* crop rapi */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle.extra{
  display:none;
}

.category-circles.show-all .extra {
  display: flex;
}

.view-text {
  display: inline-block;
  margin-top: 12px;
  color: #7A0000;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.view-text:hover {
  text-decoration: underline;
}

/* overlay gelap */
.circle::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0);
  transition: .3s ease;
  border-radius: 50%;
}

.circle:hover::after {
  background: rgba(0,0,0,0.5);
}

/* teks */
.circle .text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  opacity: 0;
  font-weight: 600;
  transition: .3s ease;
}

.circle:hover .text {
  opacity: 1;
}

.popular-section{
    margin-top: 30;
}

.teks-content2{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: px;
  overflow: hidden;
  background-color: #9e9ea7;
}

.card-wrapper {
  display: flex;
  gap: 40px;
  transition: transform 0.5s ease;

}

.card {
  flex: 0 0 calc(33% - 20px);
  position: relative;
  border-radius: 12px;
 
  width: 100%;
  height: 300px;
  max-width: 1000px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 300px;
   aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
  filter: brightness(70%);
  transition: filter 0.4s ease;
  z-index: 2;
}

.card:hover img {
  filter: brightness(100%);
}


/* Overlay vignette */
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse at center, transparent 60%, rgba(0,0,0,0.5));
  pointer-events: none;
  z-index: 2;
}

.footer-section{
    margin:0;
    background-color:darksalmon;
}
.h1-footer{
    font-size: 20px;
}