html{
    margin: 0;
    padding: 0;
}
body {
    background-color: #f3e2e2;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 15px;
}

.header{
    border-bottom: 1px solid #eee;

}

.header-inner {
  display: flex;
  align-items: center;
  height: 70px;
}

.logo img{
  height: 100px;
  object-fit:fill;
  margin-left: -23;
  margin-top: 7;
}

/* From Uiverse.io by alexruix */ 
.group {
 display: flex;
 line-height: 28px;
 align-items: center;
 position: relative;
 max-width: 150px;
 margin-left: 10;
}

.input {
 width: 100%;
 height: 30px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: #f3f3f4;
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(82, 55, 65, 0.4);
 background-color: #fff;
 box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}

    
.navbar {
  background-color: #7A0000;
  width: 50%;
  height: 40px;
  position: sticky;
  border-radius: 35px;
  display: flex;   
  justify-items: center;            
  align-items: center;         
}

.ul-navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  margin: 0;
  padding: 0;
}

.li-navbar {
  margin: 0 15px;
}

.a-navbar {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 400;

  display: flex;          
  align-items: center;    
  height: 100%;           
}

.li-navbar:hover {
    background-color:darksalmon;
    transition: .5s ease-in-out;
    transition-delay: .2s;
    border-radius: 35px;
}

.akun{
  width: 40px;
  height: 40px;
  margin-left: auto;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.akun img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rectangle-daharin{
  position: relative;
    background-color: #9e9ea7;
    text-align: center;

    height: 400;
    border-radius: 20px;
}

.rectangle-daharin img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: brightness(50%);
  border-radius: 20px;
}


.category-section{
    margin:0;
    
}
.rectangle-daharin .group {
  z-index: 99;
  position: absolute;
  top: 30px; /* atur jarak dari atas */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  width: 80%;
  max-width: 600px;

}

.teks-content1{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
}

.category-circles {
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap; /*elemen turun ke bawah jika ruang horizontal sudah habis*/
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;             /* bikin gambar ga keluar lingkaran */
  border: 5px solid #7A0000;    /* opsional: bingkai */
  display: flex;    /*diatur berjajar*/
  aspect-ratio: 1/1;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  min-width: 120px;
  position: relative;
}


.circle img {
  width: 110%;                  /* zoom biar makanan pas */
  height: 110%;
  object-fit: cover;            /* crop rapi */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle.extra{
  display:none;
}

.category-circles.show-all .extra {
  display: flex;
}

.view-text {
  display: inline-block;
  margin-top: 12px;
  color: #7A0000;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.view-text:hover {
  text-decoration: underline;
}

/* overlay gelap */
.circle::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0);
  transition: .3s ease;
  border-radius: 50%;
}

.circle:hover::after {
  background: rgba(0,0,0,0.5);
}

/* teks */
.circle .text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  opacity: 0;
  font-weight: 600;
  transition: .3s ease;
}

.circle:hover .text {
  opacity: 1;
}

.popular-section{
    margin-top: 30;
}

.teks-content2{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: px;
  overflow: hidden;
  background-color: #9e9ea7;
}

.card-wrapper {
  display: flex;
  gap: 40px;
  transition: transform 0.5s ease;

}

.card {
  flex: 0 0 calc(33% - 20px);
  position: relative;
  border-radius: 12px;
  width: 100%;
  height: 300px;
  max-width: 1000px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  filter: brightness(70%);
  transition: filter 0.4s ease;
  z-index: 2;
}

.card:hover img {
  filter: brightness(100%);
}

/* Overlay vignette */
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse at center, transparent 60%, rgba(0,0,0,0.5));
  pointer-events: none;
  z-index: 2;
}

.footer-section{
    margin:0;
    background-color:darksalmon;
}
.h1-footer{
    font-size: 20px;
}